.app {
	background: #fff;
	border: 2px solid #0004;
	border-radius: 16px;
	width: 300px;
	height: fit-content;
	margin: 10% auto;
	padding: 16px;
}

.calcBlock {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.display {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border: 1px solid #0002;
	box-shadow: 0 0 5px #0002 inset;
	border-radius: 8px;
	height: 40px;
	font-weight: 600;
	margin-bottom: 8px;
	padding-inline: 8px;
	font-size: 1.75rem;
	overflow: hidden;
  text-wrap: nowrap;
}

.isResult {
	color: #060;
	border: 1px solid #060;
	background: #efe;
}

.buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5px;
	justify-content: center;
}

.button {
	height: 70px;
	width: 70px;
	border: 1px solid #0002;
	box-shadow: 1px 1px 2px #0002, 4px 4px 12px #fff inset;
	border-radius: 16px;
	background: #fefefe;
	color: #222;
	outline: none;
	cursor: pointer;
	font-size: 1.75rem;
	font-family: monospace;
	transition: .1s;
}

.button:active {
	box-shadow: 0 0 4px #0004 inset;
}

.button:hover {
	background: #eee;
}

.clear {
	background: #fee;
}

.clear:hover {
	background: #fdd;
}

.action {
	background: #eef;
}

.action:hover {
	background: #ddf;
}

.result {
	background: #efe;
}

.result:hover {
	background: #dfd;
}

.wide {
	flex-basis: calc(75% - 5px);
}
